/*************************
Handcrafted by Aydar N.
2023

me@aydar.media
*************************/

.bg {
	position: absolute;
	z-index: 1;
}

.bg#a {
	height: 600px;
	background-image: linear-gradient(to bottom, rgb(11, 11, 34), var(--негр));
	left: 0;
	width: 100vw;
}

.bg#b, .bg#c {
	height: 100%;
	background-repeat: no-repeat;
	width: 100vw;
	left: -10px;
	z-index: 0;
}

.bg#b, .bg#c {
	background-image: url('../static/img/line_1.svg');
}

.bg#c {
	background-image: url('../static/img/line_2.svg');
	background-size: cover;
}

section.logo {
	margin-top: initial;
	height: 780px;
}

section.logo img {
	position: absolute;
	left: 0;
	width: 95%;
	margin: 50px 25px;
	z-index: 2;
}

section.logo img:nth-of-type(2) {
	z-index: 20;
}

section.logo h1 {
	position: absolute;
	right: 160px;
	bottom: 100px;
	z-index: 2;
}

section.description p {
	width: 100%;
}

section.overview {
	height: 1000px;
	overflow-x: hidden;
}

section.overview .window {
	position: absolute;
	left: calc(50% - 320px);
	width: 460px;
	height: 700px;
}

section.overview ul {
	position: absolute;
	left: calc(50% + 250px);
	top: 80px;
	list-style: none;
	width: 400px;
}

section.overview ul * {
	color: var(--белый-база);
}

section.overview li {
	margin-bottom: 40px;
	opacity: 0;
}

section.overview li h1 {
	font-size: 36px;
}

section.overview li p {
	font-size: 16px;
}

section.smells > div {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-flow: row;
	gap: 80px;
}

section.smells > div > div {
	width: 200px;
	height: 680px;
	background-size: cover;
	border-radius: 20px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

section.smells > div > div:nth-child(1) {
	background-image: url('../static/img/grad_1.svg');
}

section.smells > div > div:nth-child(2) {
	background-image: url('../static/img/grad_2.svg');
}

section.smells > div > div:nth-child(3) {
	background-image: url('../static/img/grad_3.svg');
}

section.smells > div > div:nth-child(4) {
	background-image: url('../static/img/grad_4.svg');
}

section.smells > div > div:nth-child(5) {
	background-image: url('../static/img/grad_5.svg');
}

section.smells > div > div:nth-child(6) {
	background-image: url('../static/img/grad_6.svg');
}

section.smells > div > div:nth-child(7) {
	background-image: url('../static/img/grad_7.svg');
}

section.smells > div > div > p {
	color: var(--белый-база);
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

section.faq p {
	position: relative;
}

section.faq p:not(:first-of-type)::before {
	content: '—';
	display: block;
	position: absolute;
	left: 50px;
}

section.faq p:not(:first-of-type):hover {
	color: var(--белый-база);
}

section.faq p span {
	color: var(--белый-база);
	opacity: 0;
}

section.faq p:hover span {
	opacity: 1;
}

section.faq span::before {
	content: '';
	display: block;
}

section.buy .window:first-child {
	position: relative;
	width: 100%;
	height: 600px;
	background-image: url('../static/img/swap.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

section.buy .button {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

section.subscribe .window:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 22px 20px 40px;
}
