@media (max-width: 1500px) {
    canvas {
        opacity: 0%;
    }
}

@media (max-width: 1679px) {
    section {
        padding: 0 20px !important;
    }
}

@media (min-width: 1680px) {
	section {
		width: 1680px !important;
		margin-left: auto;
		margin-right: auto;
	}

	section.overview {
		overflow-x: visible;
	}

	.bg#b, .bg#c {
		left: 0;
		margin-left: calc(-50vw + 800px);
	}

}

@media (max-width: 1280px) {
    section.logo h1 {
        position: relative;
        left: 100px;
        bottom: 10px;
        font-size: 38px;
    }

    section.overview .window {
        left: calc(50% - 230px);
        width: 460px;
    }

    section.overview ul {
        display: none;
    }

    section.buy .button {
        display: none;
    }

    section.subscribe .window:first-child {
        flex-direction: column;
        gap: 46px;
    }

    section.subscribe .window:first-child {
        padding: 24px;
    }

    input {
        width: 100% !important;
        margin-left: 10px;
    }

    footer {
        display: none;
    }

    section {
        padding: 0 20px !important;
    }
    
    .button {
        width: 100% !important;
    }
}
