@media (min-width: 1680px) {
	section {
		width: 1680px !important;
		margin-left: auto;
		margin-right: auto;
	}

	section.overview {
		overflow-x: visible;
	}

	.bg#b, .bg#c {
		left: 0;
		margin-left: calc(-50vw + 800px);
	}

}