/*************************
Handcrafted by Aydar N.
2023

me@aydar.media
*************************/

@import 'fonts.css';
@import 'content.css';
@import 'media.css';

:root {
	--белый-база: #EDEDED;
	--белый-почти: rgba(255, 255, 255, 0.8);
	--белый-но-не-совсем: rgba(255, 255, 255, 0.25);
	--белый-вторич: rgba(255, 255, 255, 0.1);
	--белый-третич: rgba(255, 255, 255, 0.08);
	--негр: #040613;
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.2s ease-out;
}

.bg {
	transition: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'AV';
	line-height: 1.4;
	color: var(--белый-база);
	font-weight: 100;
	letter-spacing: 0.05rem;
}

a {
	text-decoration: none;
}

p, input {
	font-size: 42px;
	color: var(--белый-вторич);
}

html,
body {
	overflow-x: hidden;
}

body {
	background-color: var(--негр);
	/* height: 7000px; */
}

img,
svg {
	-webkit-user-select: none;
	user-select: none;
}

section {
	position: relative;
	width: 100%;
	padding: 0 50px;
	margin-top: 300px;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 110px 60px 110px;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 10;
}

li:before {
	content: '';
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"> <circle cx="7" cy="7" r="7" fill="%2322242F" /> </svg>');
	display: block;
	position: relative;
	width: 14px;
	height: 14px;
	left: -30px;
	top: 32px;
	font-size: 260px;
	color: var(--белый-третич);
	font-size: 20px;
}

input {
	border: none;
	outline: none;
	background-color: initial;
}

::-webkit-input-placeholder {
	color: var(--белый-вторич);
}

:-moz-placeholder {
	color: var(--белый-вторич);
	opacity: 1;
}

::-moz-placeholder {
	color: var(--белый-вторич);
	opacity: 1;
}

:-ms-input-placeholder {
	color: var(--белый-вторич);
}

::-ms-input-placeholder {
	color: var(--белый-вторич);
}

::placeholder {
	color: var(--белый-вторич);
}

footer, .separared {
	margin-top: 300px;
}

.bg {
	overflow: hidden;
}

.grid {
	padding: 0 100px;
}

.window {
	background-color: var(--белый-третич);
	border-radius: 20px;
	border: 2px solid var(--белый-вторич);
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}

.window p.subtitle {
	position: absolute;
	text-transform: uppercase;
	font-size: 28px;
	left: 14px;
}

.window p.subtitle:nth-of-type(1) {
	top: 10px;
}

.window p.subtitle:nth-of-type(2) {
	bottom: 8px;
}

.subelem {
	margin-top: 60px;
}

.button {
	padding: 10px 40px;
	width: fit-content;
	border-radius: 16px;
	cursor: pointer;
}

.button:hover {
	background-color: var(--белый-но-не-совсем);
}

.button p {
	color: var(--белый-база);
	font-size: 24px;
}

